#payments{
    width: 90%;
    height: 300PX;
    display: flex;
    justify-content: center;  
}

.item {
    width: 300px;
    height: 100px;
    padding: 20px;
    margin: 30px;
    box-sizing: border-box;
    display: flex;
    align-items:center;
    flex-direction: column;
  }

  #payments p{
    text-align: center; 
  }